body {
  font-family: mainFont;
  font-size: 3em;
  align-items: center;
  box-sizing: border-box;
  background-color: #808080;
  color: rgb(21, 21, 21);
}

a {
  color: rgb(21, 21, 21);
}
a:visited {
  color: rgb(21, 21, 21);
}

.header {
  display: flex;
  text-align: left;
  padding: 1em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  padding: 2em;
}
.main img {
  object-fit: cover;
  margin: 1em;
  /* margin-left: 5%;
  margin-right: auto; */
  width: 10%;
}

.artpage {
  background-color: #404040;
  color: rgb(181, 181, 181);
}
.artpage a {
  color: rgb(181, 181, 181);
}
.artpage a:visited {
  color: rgb(181, 181, 181);
}

.artfoot {
  margin: 2em;
  text-align: center;
  font-size: 2rem;

  display: grid;
  grid-template-columns: auto auto;
}
.artpage img {
  object-fit: cover;
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
}
.artpage h5 {
  text-align: center;
}

@font-face {
  font-family: mainFont;
  src: url(fonts/JetBrainsMono-Regular);
}
