body {
  font-family: mainFont;
  font-size: 3em;
  align-items: center;
  box-sizing: border-box;
  background-color: #808080;
  color: rgb(21, 21, 21);
}

a {
  color: inherit;
}
a:visited {
  color: inherit;
}

.header {
  display: flex;
  text-align: left;
  padding: 1em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  padding: 2em;
}
.main img {
  object-fit: cover;
  margin: 1em;
  /* margin-left: 5%;
  margin-right: auto; */
  width: 10%;
}

.artpage {
  background-color: #404040;
  color: rgb(181, 181, 181);
}
.artpage a {
  color: rgb(181, 181, 181);
}
.artpage a:visited {
  color: rgb(181, 181, 181);
}

.art.properties {
  float: right;
  margin: 1em;
  text-align: left;
  font-size: 2rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: min-content min-content;
  /* background-color: red; */
}

.art.hashtags {
  float: left;
  margin: 1em;
  text-align: left;
  font-size: 2rem;

  display: grid;
  gap: 1rem;
  grid-template-rows: min-content min-content;
}

.art.actions {
  float: left;
  margin: 1em;
  text-align: left;
  font-size: 2rem;

  display: grid;
  gap: 1rem;
  grid-template-rows: min-content min-content;
}

.art.page img {
  object-fit: cover;
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
}

.art.head {
  text-align: center;
}

.about.page {
  margin: 2em;
}
.process.page {
  margin: 2em;
}

@font-face {
  font-family: mainFont;
  src: url(fonts/JetBrainsMono-Regular);
}
