body {
  font-family: mainFont;
  font-size: 3em;
  align-items: center;
  box-sizing: border-box;
  background-color: #808080;
  color: rgb(21, 21, 21);
}

a {
  color: rgb(21, 21, 21);
}
a:visited {
  color: rgb(21, 21, 21);
}

.header {
  display: flex;
  text-align: left;
  padding: 2em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  padding: 2em;
}

@font-face {
  font-family: mainFont;
  src: url(fonts/JetBrainsMono-Regular);
}

img {
  object-fit: cover;
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
}
h5 {
  text-align: center;
}
